.vscode
*.pyc
__pycache__/

.venv/
app/resources/*
app/test_resources/*
*.ipynb
outfile.txt
jobs/*
*.sh
app/local_models/*
app/local_gazetteers/*
app/local_vector_dbs/*
app/default_registry.yaml
resources/*